<h1>Create a post</h1>

<form action="/create_post" method="post">
 <input type="text" name="post_title" placeholder="Title"><br>
 <textarea name="postcontent" rows="8" cols="80"></textarea>
 <input type="submit" value="Post">
</form>