<div id="welcome">
    <h1>Welcome to the 
        <br>
    Visual Novel Book Club
    </h1>
    <h3>Come read, review, rave (or rant!) about your favorite visual novels here!
    </h3>
    <hr>
    <h2> What is a visual novel?</h2>
    <p>A visual novel (ビジュアルノベル <em>bijuaru noberu</em>) is an interactive game genre, which originated in Japan, featuring text-based story with narrative style of literature and interactivity aided by static or sprite-based visuals, most often using anime-style art or occasionally live-action stills (and sometimes video footage).As the name might suggest, they resemble mixed-media novels.
    </p>
    <p class="center">Read more at <a href="https://en.wikipedia.org/wiki/Visual_novel" target="_blank">Wikipedia</a>.</p>
    <hr>
    <p class="center">Don't have an account?</p>
    <p class="center"><a href="<%= url('/register') %>">Join now!</a></p>
</div>
