<!DOCTYPE html>
<html lang="en">
<head>
  
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NEED A TITLE</title> 
</head>

<body>

<span><a href="<%= url('/') %>">Home</a></span>
<span><a href="<%= url('/sign_in') %>">Sign In</a></span>
<span><a href="<%= url('/register') %>">Sign Up</a></span>

  <%=yield%>

</body>
</html>