
<div id="registerContainer">
  <div>
    <h1>Sign Up</h1>
    <h4>Please fill in the following fields:</h4>
  </div>
  <form class="ui form" action"/register" method="POST">
    <div class="field">
      <label>First Name:</label>
      <input type="text" name="first_name" id="firstname">
    </div>
    <div class="field">
      <label>Last Name:</label>
      <input type="text" name="last_name" id="lastname">
    </div>
    <div class="field">
      <label>Birthday:</label>
      <input type="date" name="birthday" id="birthday">
    </div>
    <div class="field">
      <label>Email:</label>
      <input type="email" name="email" id="email">
    </div>
    <div class="field">
      <label>Username:</label>
      <input type="text" name="username" id="username">
    </div>
    <div class="field">
      <label>Password:</label>
      <input type="password" name="password" id="password">
    </div>
    <div id="buttonDiv">
    <input class="ui button" type="submit" id="registerButton" value="Create Account">
    </div>
  </form>
  
</div>