<h1>Testing</h1>
<div>
<h1> <%= @created_post.title %> </h1>
<img src="<%= @created_post.image %>">
<p> <%= @created_post.content %> </p>
<p><small> <%= @created_post.created_on %> </small></p>
</div>