<div id="signInContainer">
  <form class="ui form" action"/sign_in" method="post">
    <div class="field">
      <input type="text" name="username" id="username" placeholder="Username">
    </div>
    <div class="field">
      <input type="password" name="password" id="password" placeholder="Password">
    </div>
    <input class="ui button" type="submit" id="signInButton" value="Sign In">
  </form>
</div>
