<div id="exploreContainer">
    <h1>Explore</h1>
    <h3>See what others are reading!</h3>
    <% @user_list.each do |single_user| %> 
        <ul>
            <li><a href="/user/:id/posts"> <%= single_user.username %> </a></li>
        </ul>
    <% end %>
</div>