body {
    background-image: url(/images/default_home.png);
    background-size: cover;              
    background-repeat: no-repeat;
    background-color: #CA93CB;
    margin: 0;
}

nav {
    width: 100%;
    background-color: #ffffffB3;
    display: inline-flex;
    justify-content: flex-end;

    span {
        margin: 0 15px;;
    }

    a {
        font-family: 'Patrick Hand', cursive;
        font-size: 1.5em;
        color: #000000;
        text-decoration: none;
    }

    a:hover {
        color: #AE78A5;
    }
}

#welcome {
    width: 50%;
    background-color: #ffffff99;
    border-radius: 5%;
    margin: auto;
    
    h1 {
        font-family: 'Homemade Apple', cursive;
        text-align: center;
    }

    h3 {
        font-family: 'Patrick Hand', cursive;
        text-align: center;
    }
    
    h2, p {
        font-family: 'Patrick Hand', cursive;
        margin: 8px;
    }

    .center {
        text-align: center;
        font-size: 1.2em;

        a {
            text-decoration: none;
            color: #54add3;
        }

        a:hover {
            color: #AE78A5;
        }
    }
}