#editUserContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    margin-top: 5%;
    margin-left: 5%;

    form { 
        display: table;

        .field { 
            display: table-row;   
            height: 2.5em;   

            label { 
                display: table-cell;
            }
            input { 
                display: table-cell;
            }
            // #firstname, #lastname, #birthday, #email, #username, #password {
            //     height: 2em;
            //     width: 25em;
            //     border-radius: 5px;
            // }
        }
        // #registerButton {
        //     margin-left: 130%;
        //     width: 10em;
        // }
    }  
}