body {
    background-image: url(/images/sign_in_page.jpg);
    background-size: cover;              
    background-repeat: no-repeat;
    background-color: #F0D9B7;
    margin: 0;
}

nav {
    width: 100%;
    background-color: #ffffffB3;
    display: inline-flex;
    justify-content: flex-end;

    span {
        margin: 0 15px;;
    }

    a {
        font-family: 'Patrick Hand', cursive;
        font-size: 1.5em;
        color: #000000;
        text-decoration: none;
    }

    a:hover {
        color: #952823;
    }
}

#signInContainer {
    display: flex;
    justify-content: center;
    margin-top: 20%;

    .field {
        height: 3em;

        #username, #password {
            height: 3em;
            width: 25em;
            border-radius: 5px;
        }
    }

    #signInButton {
        display: block;
        margin: auto;
        width: 10em;
    }
}