body {
    background-image: url(/images/sign_in_page.jpg);
    background-size: cover;              
    background-repeat: no-repeat;
    background-color: #F0D9B7;
}

#signInContainer {
    display: flex;
    justify-content: center;

    .field {
        height: 3em;

        #username, #password {
            height: 3em;
            width: 25em;
            border-radius: 5px;
        }
    }

    #signInButton {
        display: block;
        margin: auto;
        width: 10em;
    }
}